{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block content_title %}
    <h1>Вопрос №{{ original.id }} {% if original.success %}
        <span style="font-size: 12px; color: green">решен</span>{% else %}
        <span style="font-size: 12px; color: red">не решен</span>{% endif %}</h1>
{% endblock %}
{% block field_sets %}
    <div style="position: relative">
        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Имя:</strong><span style="float: right">&nbsp;{{ original.name }}</span></p></div>
        <br>

        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Телефон:</strong><span style="float: right">&nbsp;{{ original.phone }}</span></p></div>
        <br>

        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Email:</strong><span style="float: right">&nbsp;{{ original.email }}</span></p></div>
        <br>

        <div style="display: inline-block;">
            <div style="width: 500px">
                <strong style="border-bottom: 1px solid #aaaaaa;">Вопрос:</strong>

                <div style="margin-top: 10px; padding: 10px; background-color: #eeeeee; overflow: auto">{{ original.issue|linebreaks }}</div>
            </div>
        </div>
    </div>

{% endblock %}
{% block object-tools-items %}
    {% if not original.success %}
    <li>
        <a href="javascript:void(0)" class="successLink" style="background-color: green">Отметить как решеный</a>
    </li>
    {% endif %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.successLink').on('click', function () {
                    $.post('/api/?method=set_success', {'id': {{original.id}}, 'type': 'issue'}).then(function () {
                        location.reload();
                    }, 'json')
                })
            })
        })(django.jQuery);

    </script>
{% endblock %}
{% block submit_buttons_bottom %}{% endblock %}
