{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block content_title %}
    <h1>Заказ №{{ original.id }} {% if original.success %}
        <span style="font-size: 12px; color: green">выполнен</span>{% else %}
        <span style="font-size: 12px; color: red">не выполнен</span>{% endif %}</h1>
{% endblock %}
{% block field_sets %}
    <div style="position: relative">
        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Компания:</strong><span style="float: right">&nbsp;{{ original.company }}</span></p></div>
        <br>

        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Контактное лицо:</strong><span style="float: right">&nbsp;{{ original.person }}</span></p></div>
        <br>

        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Email:</strong><span style="float: right">&nbsp;{{ original.email }}</span></p></div>
        <br>

        <div style="display: inline-block;"><p style="border-bottom: 1px solid #aaaaaa; width: 500px">
            <strong>Телефон:</strong><span style="float: right">&nbsp;{{ original.phone }}</span></p></div>
        <br>

        <div style="display: inline-block;">
            <div style="width: 500px">
                <strong style="border-bottom: 1px solid #aaaaaa;">Дополнительная информация:</strong>

                <div style="margin-top: 10px; padding: 10px; background-color: #eeeeee; overflow: auto">{{ original.comment|linebreaks }}</div>
            </div>
        </div>
        <div style="position: absolute; left: 520px; top: 0">
            <p style="border-bottom: 1px solid #aaaaaa">Экраны в заказе</p>
            {% for leds in original.leds.all %}
                <p><a href="{% url 'admin:leds_led_change' leds.id %}">{{ leds.name }}, {{ leds.address }}</a></p>
            {% endfor %}
            <p style="border-bottom: 1px solid #aaaaaa; margin-top: 25px">Пакеты в заказе</p>
            {% for group in original.groups.all %}
                <p><a href="{% url 'admin:leds_ledgroup_change' group.id %}">{{ group.name }}</a></p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block object-tools-items %}
    {% if not original.success %}
    <li>
        <a href="javascript:void(0)" class="successLink" style="background-color: green">Отметить как выполненный</a>
    </li>
    {% endif %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.successLink').on('click', function () {
                    $.post('/api/?method=set_success', {'id': {{original.id}}}).then(function () {
                        location.reload();
                    }, 'json')
                })
            })
        })(django.jQuery);

    </script>
{% endblock %}
{% block submit_buttons_bottom %}{% endblock %}