.animate-fadeSlideLeft.ng-hide {
  transform: translate3d(-100%, 0, 0);
}

.animate-fadeSlideLeft.ng-hide-add.ng-hide-add-active,
.animate-fadeSlideLeft.ng-hide-remove.ng-hide-remove-active {
  transition: transform .5s;
}

.animate-fadeSlideLeft.ng-hide-add-active {
  position: absolute;
}

.animate-if {
  &.ng-enter, &.ng-leave {
    transition: .2s ease opacity, .2s ease transform;
  }
  &.ng-enter {
    opacity: 0;
    transform: translateX(-20px);
    &.ng-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
      transform: translateX(-20px);
    }
  }
}