@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #FFFFFF;
  color: #444;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 3px 4px;
  position: relative;
  width: 750px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-default {
  .ngdialog-header {
    position: relative;
    top: 0;
    right: 0;
    text-align: right;

    p.title {
      font-size: 24px;
      text-align: center;
      color: #18b9c3;
      margin-top: 30px;
      font-weight: 300;
    }

    .title__small {
      padding: 15px 120px 0;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      a {
        margin-top: 10px;
        display: inline-block;
      }
    }

    p.order-items-title {
      color: #c7c7c7;
      font-weight: 300;
      border-bottom: 1px solid #c7c7c7;
      margin: 0 40px;
      margin-top: 20px;
      text-align: left;
    }

    .pseudo-link {
      margin-right: 10px;
      font-weight: 300;
    }

    .btn {
      display: inline-block;
      line-height: 18px;
    }
  }

  .ngdialog-led-map {
    width: 100%;
    padding: 20px 50px 50px;
    ya-map {
      display: block;
      position: relative;
      width: 100%;
      height: 400px;
    }
  }

  .ngdialog-order-list {
    margin: 10px 70px 0;
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    text-align: left;

    .pseudo-link {
      font-weight: 300;
    }

    .order-item-group {
      position: relative;
      .trash-link {
        color: #026c80;
        font-size: 14px;
        opacity: 0;
        transition: .4s opacity;
        visibility: hidden;
      }
      &:hover {
        .trash-link {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .thanks-info {
    padding: 10px;
    margin: 40px;
    background: #e6e6e6;
    text-align: center;
  }

  .ngdialog-order-form {
    margin: 50px 50px 50px;
    p.title {
      color: #18b9c3;
      text-align: center;
      &.error {
        color: #FFB0B0;
      }
    }

    .control-group {
      font-size: 0;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      .control {
        width: 50%;
        &.error {
          border-color: #FFB0B0;
        }
        &:last-of-type {
          margin-left: 10px;
          width: calc(~"50% - 10px");
          box-sizing: border-box;
        }
      }
    }

    .btn--disabled {
      pointer-events: none;
      cursor: default;
    }
    textarea {
      width: 642px;
      height: 200px;
      &.error {
        border-color: #FFB0B0;
      }
    }
  }

  .ngdialog-led-info {
    margin: 10px 50px 50px;
    width: calc(~"100% - 100px");
    padding: 10px;
    text-align: left;
    font-size: 16px;
    line-height: 1.2em;
    background: #e6e6e6;
    color: #026c80;
  }

  .ngdialog-led-photo {
    position: relative;
    margin-top: 20px;
  }
  .ngdialog-led-details {
    position: relative;
    text-align: center;
    margin-top: 30px;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}