.generate-utils(@i: 2) when (@i =< 100) {
  .mt-@{i} { margin-top: (@i * 1px); }
  .mb-@{i} { margin-bottom: (@i * 1px); }
  .pt-@{i} { padding-top: (@i * 1px); }
  .pb-@{i} { padding-bottom: (@i * 1px); }

  .generate-utils(@i + 2)
}

.generate-columns(@n, @i: 1) when (@i =< @n) {
  .generate-width(@n, @i: 1) when (@i =< @n) {
    .column-@{i} {
      width: (@i * 100% / @n - 2.5%);
    }
    .prefix-@{i} {
      padding-left: (@i * 100% / @n);
    }
    .suffix-@{i} {
      padding-right: (@i * 100% / @n);
    }
    .pull-@{i} {
      left: -(@i * 100% / @n);
    }
    .push-@{i} {
      left: (@i * 100% / @n);
    }
    .generate-width(@n, (@i + 1));
  }

  *[class*="column-"] {
    display: inline;
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }

  *[class*="push-"], *[class*="pull-"] {
    position: relative;
  }

  .generate-width(@n);
}

.container {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  .generate-columns(24);
}

.container-fluid {
  width: 100%;
  .generate-columns(24);
}

.generate-utils();

.alpha {
  margin-left: 0 !important;
  padding-left: 1.25%;
}

.omega {
  margin-right: 0 !important;
  padding-right: 1.25%;
}

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  &fix:after, &fix:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &fix:after {
    clear: both;
  }
}