body {
	font: 16.64px/1.5 'Open Sans', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {  outline: 1px dotted;  }

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

h1 {  font-size: 1.9em;  }
h2 {  font-size: 1.7em;  }
h3 {  font-size: 1.5em;  }
h4 {  font-size: 1.4em;  }
h5 {  font-size: 1.3em;  }
h6 {  font-size: 1.2em;  }

ol {  list-style: decimal;  }
ul {  list-style: disc;  }
li {  margin-left: 30px;  }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul,
pre, table, address, fieldset {
	margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}