{% load thumbnail %}
<div class="ngdialog-header">
    <a href="javascript:void(0)" class="pseudo-link" ng-click="closeThisDialog()">Закрыть</a>

    <span ng-switch="$root.leds[{{ led.id }}]">
        <a href="javascript:void(0)" ng-click="$root.leds[{{ led.id }}] = false" ng-switch-when="true" class="btn">Убрать
            из заказа</a>
        <a href="javascript:void(0)" ng-click="$root.leds[{{ led.id }}] = true" ng-switch-default class="btn">Добавить в
            заказ</a>
    </span>

    <p class="title">{{ led.name }}, {{ led.address }}</p>
</div>
<div class="ngdialog-led-details">
    <div class="view-checker">
        {% for photo in led.ledimage_set.all %}
            <a ng-click="activeTab = 'photo_{{ forloop.counter }}'"{% if forloop.first %}
               ng-init="activeTab = 'photo_{{ forloop.counter }}'"{% endif %}
               ng-class="{'btn--disabled': activeTab != 'photo_{{ forloop.counter }}'}"
               class="btn">ФОТО {{ forloop.counter }}</a>
        {% empty %}
            {% if led.text %}
                <a ng-click="activeTab = 'info'" ng-class="{'btn--disabled': activeTab != 'info'}"
                   ng-init="activeTab = 'info'" class="btn">ИНФО</a>
            {% else %}
                <span ng-init="activeTab = 'map'"></span>
            {% endif %}
        {% endfor %}
        <a ng-click="activeTab = 'map'" ng-class="{'btn--disabled': activeTab != 'map'}" class="btn">КАРТА</a>
    </div>
    <div class="ngdialog-led-map" ng-show="activeTab == 'map'">
        <ya-map ya-zoom="16" ya-center="'{{ led.center }}'.split(',').reverse()">
            <ya-geo-object
                    ya-source="{geometry: {type: 'Point', coordinates: '{{ led.center }}'.split(',').reverse()}}"
                    ya-options="{preset: 'islands#dotIcon', iconColor: '#0496b0'}"></ya-geo-object>
        </ya-map>
    </div>
    {% for photo in led.ledimage_set.all %}
        <div class="ngdialog-led-photo" ng-show="activeTab == 'photo_{{ forloop.counter }}'">
            {% thumbnail photo.image '642' crop='center' as im %}
                <img src="{{ im.url }}" alt="Фотография_{{ led.name }}">
            {% endthumbnail %}
        </div>
    {% endfor %}
    {% if led.text %}
        <div class="ngdialog-led-info{% if not led.ledimage_set.count %} mt-20{% endif %}"
             ng-show="activeTab != 'map'">
            {{ led.text|safe }}
        </div>
    {% endif %}
</div>
