{% load thumbnail %}
<div class="ngdialog-header">
    <a href="javascript:void(0)" class="btn" ng-click="closeThisDialog()">Закрыть</a>

    <p class="title">Быстрая заявка</p>

</div>


<div ng-show="bidSended" class="thanks-info title">
    Спасибо за заявку, скоро мы свяжемся с вами
</div>

<div class="ngdialog-order-form">
    <div ng-hide="bidSended">
        <form name="fastForm">
    <textarea name="bid" ng-class="{error: fastForm.bid.$error.required}" ng-model="customer.bid"
              class="control" required
              placeholder="Отправьте нам запрос в произвольной форме, и мы свяжемся с вами, незабудьте указать контактные данные"></textarea>

            <div class="text-center mt-20">
                <a href="javascript:void(0)" ng-click="sendBid()" class="btn btn--big"
                   ng-class="{'btn--disabled': !fastForm.$valid}">отправить</a>
            </div>
        </form>
    </div>
</div>

