{% load thumbnail %}
<div class="ngdialog-header">
    <a href="javascript:void(0)" class="btn" ng-click="closeThisDialog()">Закрыть</a>

    <p class="title" ng-show="$root.in_order_count() > 0">Оформление заявки на расчет рекламной кампании</p>

    <div class="title__small" ng-show="$root.in_order_count() < 1">
        Вы еще не выбрали ни одного экрана
        Вы сможете это в специальном разделе, пройдя по ссылке ниже
        или отправить нам заявку в произвольной форме
        <br>
        <a class="pseudo-link" href="{% url 'cities' %}">ВЫБРАТЬ ЭКРАНЫ</a>
    </div>
</div>

{% if groups %}
    <div class="ngdialog-header animate-if" ng-if="$root.has_group()">
        <p class="order-items-title">Выбранные пакеты</p>
    </div>
    <div class="ngdialog-order-list">
        {% for group in groups %}
            <div class="order-item-group item_group animate-if" ng-if="$root.findGroupInOrder({{ group.id }})">
                <a href="javascript:void(0)" ng-click="$root.removeGroup({{ group.id }})"
                   class="pseudo-link">{{ group.name }}</a>
                <a href="javascript:void(0)" ng-click="$root.removeGroup({{ group.id }})" class="trash-link"><i
                        class="fa fa-trash-o"></i></a>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if leds %}
    <div class="ngdialog-header animate-if" ng-if="$root.leds_not_in_group()">
        <p class="order-items-title">Выбранные экраны</p>
    </div>
    <div class="ngdialog-order-list">
        {% for led in leds %}
            <div class="order-item-group item_led animate-if" ng-if="$root.findLedInOrder({{ led.id }})">
                <a href="javascript:void(0)" ng-click="$root.removeLed({{ led.id }})" class="pseudo-link">{{ led.name }}, {{ led.address }}</a>
                <a href="javascript:void(0)" ng-click="$root.removeLed({{ led.id }})" class="trash-link"><i
                        class="fa fa-trash-o"></i></a>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div ng-show="orderSended" class="thanks-info title">
    Спасибо за заказ, скоро мы свяжемся с вами
</div>

<div class="ngdialog-order-form">
    <div ng-hide="orderSended">
        <p class="title error" ng-show="!orderForm.$valid">Все поля обязательны для заполнения</p>

        <p class="title" ng-show="orderForm.$valid">Можете совершить заказ</p>

        <form name="orderForm">
            <div class="control-group">
                <input name="company" ng-class="{error: orderForm.company.$error.required}" ng-model="customer.company"
                       type="text" class="control" placeholder="Компания" required>
                <input name="person" ng-class="{error: orderForm.person.$error.required}" ng-model="customer.person"
                       type="text" class="control" placeholder="Контактное лицо" required>
            </div>
            <div class="control-group">
                <input name="email" ng-class="{error: orderForm.email.$error.required}" ng-model="customer.email"
                       type="text" class="control" placeholder="Email" required>
                <input name="phone" ng-class="{error: orderForm.phone.$error.required}" ng-model="customer.phone"
                       type="text" class="control" placeholder="Телефон" required>
            </div>
    <textarea name="comment" ng-class="{error: orderForm.comment.$error.required}" ng-model="customer.comment"
              class="control" required
              placeholder="Пожалуйста, укажите в комментарии примерный срок начала и продолжительность рекламной кампании, а также хронометраж ролика — эти данные необходимы для корректного расчета"></textarea>

            <div class="text-center mt-20">
                <a href="javascript:void(0)" ng-click="sendOrder()" class="btn btn--big"
                   ng-class="{'btn--disabled': !orderForm.$valid && $root.in_order_count() > 0}">отправить</a>
            </div>
        </form>
    </div>
</div>

