{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block content_title %}
    <h1>Быстрая заявка №{{ original.id }} {% if original.success %}
        <span style="font-size: 12px; color: green">обработана</span>{% else %}
        <span style="font-size: 12px; color: red">не обработана</span>{% endif %}</h1>
{% endblock %}
{% block field_sets %}
    <div style="position: relative">
        <div style="display: inline-block;">
            <div style="width: 500px">
                <strong style="border-bottom: 1px solid #aaaaaa;">Текст заявки:</strong>

                <div style="margin-top: 10px; padding: 10px; background-color: #eeeeee; overflow: auto">{{ original.text|linebreaks }}</div>
            </div>
        </div>
    </div>

{% endblock %}
{% block object-tools-items %}
    {% if not original.success %}
    <li>
        <a href="javascript:void(0)" class="successLink" style="background-color: green">Отметить как обработанную</a>
    </li>
    {% endif %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $('.successLink').on('click', function () {
                    $.post('/api/?method=set_success', {'id': {{original.id}}, 'type': 'bid'}).then(function () {
                        location.reload();
                    }, 'json')
                })
            })
        })(django.jQuery);

    </script>
{% endblock %}
{% block submit_buttons_bottom %}{% endblock %}