{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block about_led %}active{% endblock %}
{% block nav_class %} wide{% endblock %}
{% block content %}
    <div class="container content about_led">
        <div class="prefix-1 column-22 suffix-1">
            {{ about_led_content|safe }}
        </div>
        <div class="prefix-3 column-18 suffix-3 mt-40">
            <hr>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
