{% load staticfiles i18n leds_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'js/components/ng-dialog/css/ngDialog.min.css' %}">

    <script src="{% static 'js/components/angular/angular.min.js' %}"></script>
    <script src="{% static 'js/components/angular-animate/angular-animate.min.js' %}"></script>
    <script src="{% static 'js/components/angular-filter/dist/angular-filter.min.js' %}"></script>
    <script src="{% static 'js/components/ng-dialog/js/ngDialog.min.js' %}"></script>
    <script src="{% static 'js/ya-map-2.1.min.js' %}"></script>
    <script src="{% static 'js/components/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <title>Ledoutdoor</title>
</head>
<body ng-app="App">
{% block header %}
    <header>
        <div class="credits">
            <span><i class="fa fa-phone"></i>{{ phone_number }}</span><br>
            <a href="mailto:{{ email }}"><i class="fa fa-envelope"></i>{{ email }}</a>
        </div>
        <div class="billboard">
            <div class="billboard__outer"></div>
            <div class="billboard__inner">
                <video loop autoplay>
                    <source src="{% static 'img/abstract.mp4' %}">
                    <source src="{% static 'img/abstract.webm' %}">
                </video>
                <div class="billboard__content">
                    <a href="{% url 'cities' %}" class="left">Карта видеоэкранов</a>
                    <a href="javascript:void(0)" ng-click="$root.openFastbid()" class="right">Быстрая заявка</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
<nav class="container{% block nav_class %}{% endblock %}">
    <ul>
        <li class="{% block about %}{% endblock %}"><a href="{% url 'home' %}">О компании</a></li>
        <li class="{% block cities %}{% endblock %}"><a href="{% url 'cities' %}">Каталог</a></li>
        <li class="{% block about_led %}{% endblock %}"><a href="{% url 'about_led' %}">О LED дисплеях</a></li>
        <li class="{% block contacts %}{% endblock %}"><a href="{% url 'contacts' %}">Контакты</a></li>
        <li><a class="order" href="javascript:void(0)" ng-click="$root.openOrder()">Сделать заказ (<span ng-bind="$root.in_order_count()">0</span>)</a></li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer class="container">
    <p>{{ footer_content|safe }}</p>
</footer>
{% include 'svg-store.html' %}
{% get_packages %}
{{ snippets|safe }}
</body>
</html>