{% extends 'base.html' %}
{% load cities_tags %}
{% block header %}{% endblock %}
{% block cities %}active{% endblock %}
{% block nav_class %} wide{% endblock %}
{% block title %}{{ cities_title }}{% endblock %}
{% block description %}{{ cities_description }}{% endblock %}
{% block keywords %}{{ cities_keywords }}{% endblock %}
{% block content %}
    <div ng-controller="citiesController">
        <div class="map-container">
            <div class="map" ng-class="{show: true}">
                <div class="map__ball" ng-repeat="ball in balls"
                     ng-style="{top: ball.pos_y +'px', left: ball.pos_x +'px', width: ball.size+'px', height: ball.size+'px'}"
                     ng-show="ball.pos_y <= showRect[1] && ball.pos_x <= showRect[0]">
                    <div class="map__ball__popup"
                         ng-style="{bottom: ball.size + 'px', 'margin-left': -125 + ball.size / 2 + 'px'}">
                        <div class="header">
                            <span class="left">Город</span>
                            <span class="right">Экранов</span>
                        </div>
                        <a ng-href="/cities/{$ city.slug $}" ng-repeat="city in ball.cities">
                            <span class="left">{$ city.name $}</span>
                            <span class="right">{$ city.count $}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container content cities" ng-controller="citiesController">
            <div class="prefix-1 column-22 suffix-1">
                <input type="text" class="control" placeholder="Найти город" size="60" ng-model="search_string">
            </div>
            <div class="prefix-1 column-22 suffix-1 cities__list">
                <div class="cities__list__letter-block" ng-repeat="(letter, list) in cities | groupBy: 'letter'">
                    <span class="letter" ng-hide="search_string && !contains(list, search_string)">{$ letter $}</span>
                    <a ng-href="/cities/{$ city.slug $}" ng-repeat="city in list | filter: search_string">{$ city.name $}</a>
                </div>
            </div>
            <div class="prefix-3 column-18 suffix-3">
                <hr>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {% get_cities_json %}
    {% get_balls_json %}
{% endblock %}
