{% extends 'base.html' %}
{% load splitter leds_tags %}
{% block cities %}active{% endblock %}
{% block header %}{% endblock %}
{% block nav_class %} wide{% endblock %}
{% block title %}{{ city_title }}{% endblock %}
{% block description %}{{ city_description }}{% endblock %}
{% block keywords %}{{ city_keywords }}{% endblock %}
{% block content %}
    <div class="container content city" ng-controller="cityController">
        <div class="prefix-1 column-22 suffix-1">

            <div class="breadcrumbs">
                <a href="{% url 'cities' %}">Карта</a>
                <span>&nbsp;&ndash;&nbsp;</span>
                <a class="active">{{ city.name }}</a>
            </div>
        </div>
        <div class="column-24 city__title">
            <h1 class="text-center">{{ city.name }}</h1>
        </div>
        <div class="push-1 column-22 city__balloon">
            <div class="column-8 info">
                <span class="info__text">Экранов в городе:&nbsp;</span>
                <span class="info__num">{{ city.led_set.count }}</span>

                {% comment %}
                <div class="info__big">
                    <span class="info__text">Выбрано:&nbsp;</span>
                    <span class="info__num"></span>
                </div>
                {% endcomment %}
            </div>
            <div class="column-14 packages">
                {% if city.ledgroup_set.count > 0 %}
                    <p class="packages__title">Пакеты</p>

                    <div class="packages__list">
                        {% for package in city.ledgroup_set.all %}
                            <div class="control-group" tooltip="{{ package.short_info }}">
                                <input type="checkbox" ng-model="$root.ledsGroup[{{ package.id }}]"
                                       ng-true-value="{{ package.led_array }}" class="control"
                                       id="group_{{ forloop.counter }}">
                                <label for="group_{{ forloop.counter }}" class="css-label">{{ package.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="packages__title"></p>
                {% endif %}
            </div>
            {% if city.description %}
                <div class="column-24 city__description">
                    {{ city.description|safe }}
                </div>
            {% endif %}

        </div>
        <div class="column-24 text-center">
            <p class="view-checker--title">Отображать</p>

            <div class="view-checker">
                <a ng-click="showMap = false" ng-class="{'btn--disabled': showMap}" class="btn">Списком</a>
                <a ng-click="showMap = true" ng-class="{'btn--disabled': !showMap}" class="btn">На карте</a>
            </div>
        </div>
        <div class="column-24 leds">
            <div class="leds__list" ng-show="!showMap">
                {% for led_column in city.led_set.all|splitter:2 %}
                    <div class="leds__list--column">
                        {% for led in led_column %}
                            {% if led %}
                                <div class="control-group">
                                    <input type="checkbox" ng-model="$root.leds[{{ led.id }}]" class="control"
                                           id="led_{{ led.id }}" style="display: block">
                                    <label for="led_{{ led.id }}" class="css-label"></label>
                                    <a href="javascript:void(0)" ng-click="openDetail('{{ led.id }}')"
                                       class="pseudo-link">{{ led.name }}, {{ led.address }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="leds__on-map" ng-show="showMap">
                <div ng-hide="mapLoaded" class="md-preloader">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="50" width="50" viewbox="0 0 75 75">
                        <circle cx="37.5" cy="37.5" r="33.5" stroke-width="4"/>
                    </svg>
                </div>
                <ya-template-layout ya-key="balloon" ya-overrides="overrides">
                    <div class="control-group">
                        <input data-id="$[properties.id]" data-name="$[properties.name]" id="mapLedCheckbox"
                               class="control" type="checkbox"/>
                        <label for="mapLedCheckbox"
                               class="css-label"></label>
                        <a href="javascript:void(0)" class="pseudo-link" id="mapInfoLink" data-id="$[properties.id]">$[properties.name],
                            $[properties.address]</a>
                    </div>
                </ya-template-layout>
                <ya-map ng-if="showMap" ya-zoom="12" ya-after-init="afterMapInit($target); updateProxy();"
                        ya-center='{$ center $}' ya-before-init="centerOnCity('{{ city.name }}', '{{ city.center }}')">
                    {% for led in city.led_set.all %}
                        <ya-geo-object id="geo_{{ led.id }}"
                                       ya-event-mouseenter="openBalloon($event)"
                                       ya-source="{geometry: {type: 'Point', coordinates: '{{ led.center }}'.split(',').reverse()}, properties: {name: '{{ led.name }}', id:{{ led.id }}, address:'{{ led.address }}'}}"
                                       ya-options="{led_id:{{ led.id }}, balloonContentLayout:'balloon',balloonPanelMaxMapArea: 0, balloonCloseButton: true, preset: 'islands#circleDotIcon', iconColor: '#0496b0',hideIconOnBalloonOpen: false}"></ya-geo-object>
                    {% endfor %}
                </ya-map>
            </div>
        </div>
        <div class="prefix-3 column-18 suffix-3">
            <hr>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}