{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block contacts %}active{% endblock %}
{% block nav_class %} wide{% endblock %}
{% block title %}{{ contacts_title }}{% endblock %}
{% block description %}{{ contacts_description }}{% endblock %}
{% block keywords %}{{ contacts_keywords }}{% endblock %}
{% block content %}
    <div class="container content contacts" ng-controller="contactsController">
        <div class="prefix-1 column-11 contact-map">
            <ya-map ya-zoom="12" style="width: 100%; height: 400px; display: block;"
                    ya-center="'{{ address_coord }}'.split(',').reverse()">
                <ya-geo-object
                        ya-source="{geometry: {type: 'Point', coordinates: '{{ address_coord }}'.split(',').reverse() }
                        , properties: {iconContent: 'Led-Outdoor'}}"
                        ya-options="{preset: 'islands#blueStretchyIcon'}"></ya-geo-object>
            </ya-map>
        </div>
        <div class="column-11 suffix-1">
            <p class="column-24 sub-title">Наши контакты:</p>

            <div class="column-24">{{ contacts_content|safe }}</div>
            <div ng-show="issueSended">
                <p class="column-24 sub-title thanks-info">Спасибо за вопрос, скоро мы свяжемся с вами</p>
            </div>
            <div ng-show="!issueSended">

                <p class="column-24 sub-title">Задать вопрос:</p>

                <form name="issueForm">
                    <div class="control-group--block">
                        <label for="name" class="column-6">Ваше имя:</label>
                        <input ng-model="customer.name" name="name" type="text"
                               ng-class="{error: issueForm.name.$error.required}"
                               class="control column-17 mb-20" required>
                    </div>
                    <div class="control-group--block" ng-show="!customer.phone && !customer.email">
                        <div class="column-6">&nbsp;</div>
                        <div class="column-17 error">Cообщите как с вами связаться</div>
                    </div>
                    <div class="control-group--block">
                        <label for="name" class="column-6">Телефон:</label>
                        <input ng-class="{error: !customer.phone && !customer.email}" ng-model="customer.phone"
                               name="phone"
                               type="text" class="control column-17 mb-20">
                    </div>
                    <div class="control-group--block">
                        <label for="name" class="column-6">Email:</label>
                        <input ng-class="{error: !customer.phone && !customer.email}" ng-model="customer.email"
                               name="email"
                               type="text" class="control column-17 mb-20">
                    </div>
                    <div class="control-group--block">
                        <label for="name" class="column-6">Вопрос:</label>
                <textarea ng-model="customer.issue" name="issue" type="text"
                          ng-class="{error: issueForm.issue.$error.required}" class=" control column-17"
                          required></textarea>
                        <a href="javascript:void(0)" class="btn btn--big" ng-click="sendIssue()"
                           ng-class="{'btn--disabled': !customer.phone && !customer.email || !issueForm.$valid}">Отправить</a>
                    </div>
                </form>
            </div>

        </div>
        <div class="prefix-3 column-18 suffix-3 mt-40">
            <hr>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
