{% extends 'base.html' %}
{% block about %}active{% endblock %}
{% block title %}{{ index_title }}{% endblock %}
{% block description %}{{ index_description }}{% endblock %}
{% block keywords %}{{ index_keywords }}{% endblock %}
{% block content %}
    <div class="container content">
        <div class="prefix-1 column-22 suffix-1 pb-40">
            {{ index_content|safe }}
        </div>
        <div class="alpha column-24 advantages omega">
            <div class="advantages__inner container-fluid">
                <div class="column-24 advantages__title">Наши приемущества</div>
                <div class="column-8 advantages__item">
                    <svg height="80" width="80" style="fill: white">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#film"></use>
                    </svg>
                    <p>{{ advantages_1 }}</p>
                </div>
                <div class="column-8 advantages__item">
                    <svg height="80" width="80" style="fill: white">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#picture"></use>
                    </svg>
                    <p>{{ advantages_2 }}</p>
                </div>
                <div class="column-8 advantages__item">
                    <svg height="80" width="80" style="fill: white">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sun"></use>
                    </svg>
                    <p>{{ advantages_3 }}</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}