<div style="display: none">
    <svg xmlns="http://www.w3.org/2000/svg"><symbol viewBox="0 0 18.24 18.24" id="film"><title>film</title> <path d="M0,0v18.24h1.611v-1.632H3.27v1.632h11.607v-1.632h1.658v1.632h1.705V0H0z M3.27,14.924H1.611v-1.658
	H3.27V14.924z M3.27,11.607H1.611V9.949H3.27V11.607z M3.27,8.291H1.611V6.633H3.27V8.291z M3.27,4.975H1.611V3.316H3.27V4.975z
	 M3.27,1.684H1.611V0.026H3.27V1.684z M13.244,16.582H4.928V9.949h8.316V16.582z M13.244,8.291H4.928V1.658h8.316V8.291z
	 M16.535,14.924h-1.658v-1.658h1.658V14.924z M16.535,11.607h-1.658V9.949h1.658V11.607z M16.535,8.291h-1.658V6.633h1.658V8.291z
	 M16.535,4.975h-1.658V3.316h1.658V4.975z M16.535,1.684h-1.658V0.026h1.658V1.684z"></path> </symbol><symbol viewBox="0 0 25.68 18.72" id="picture"><title>picture</title> <path d="M8.264,5.37c0,0.992-0.805,1.801-1.799,1.801c-0.989,0-1.796-0.809-1.796-1.801
	c0-0.997,0.807-1.801,1.796-1.801C7.459,3.569,8.264,4.374,8.264,5.37z"></path> <path d="M3.629,13.985c0,0,3.098-6.49,5.506-6.49c2.405,0,3.705,2.829,3.705,2.829s2.521-5.699,4.624-5.699
	s4.587,9.36,4.587,9.36H3.629z"></path> <path d="M23.345,2.34v14.04H2.334V2.34H23.345 M23.345,0H2.334C1.046,0,0,1.047,0,2.34v14.04
	c0,1.293,1.046,2.34,2.334,2.34h21.011c1.291,0,2.334-1.047,2.334-2.34V2.34C25.68,1.047,24.636,0,23.345,0L23.345,0z"></path> </symbol><symbol viewBox="0 0 19.44 19.44" id="sun"><title>sun</title> <path d="M14.036,9.711c0,2.427-1.967,4.393-4.394,4.393c-2.425,0-4.393-1.966-4.393-4.393
	s1.968-4.394,4.393-4.394C12.069,5.318,14.036,7.285,14.036,9.711z"></path> <path d="M10.597,3.612H8.84v-3.59h1.757V3.612z"></path> <path d="M10.597,19.417H8.84v-3.59h1.757V19.417z"></path> <path d="M15.828,10.597V8.839h3.59v1.757H15.828z"></path> <path d="M0.022,10.597V8.839h3.59v1.757H0.022z"></path> <path d="M5.68,3.983l-1.738,1.74L1.457,3.238l1.738-1.74L5.68,3.983z"></path> <path d="M17.917,16.222l-1.74,1.737l-2.485-2.485l1.74-1.74L17.917,16.222z"></path> <path d="M15.464,5.723l-1.74-1.74l2.485-2.485l1.74,1.74L15.464,5.723z"></path> <path d="M3.228,17.959l-1.74-1.74l2.485-2.485l1.74,1.74L3.228,17.959z"></path> </symbol></svg>
</div>